{"mealServiceDietInfo":[{"head":[{"list_total_count":1061},{"RESULT":{"CODE":"INFO-000","MESSAGE":"정상
처리되었습니다."}}]},{"row":[{"ATPT_OFCDC_SC_CODE":"T10","ATPT_OFCDC_SC_NM":"제주특별자치도교육청","SD_SCHUL_CODE":"9290083","SCHUL_NM":"제주영지학교","MMEAL_SC_CODE":"2","MMEAL_SC_NM":"중식","MLSV_YMD":"20210104","MLSV_FGR":67.00,"DDISH_NM":"현미찹쌀밥(친환경/영)<br />배추된장국(영)5.6.13.<br />오이배생채(영)13.<br />쇠불고기(계절/영)5.6.13.16.<br />오징어파전(영)1.5.6.13.17.<br />배추김치(영)9.13.","ORPLC_INFO":"쌀
: 국내산<br />김치류 : 국내산<br />고춧가루(김치류) : 국내산<br />쇠고기(종류) :
국내산(한우)<br />돼지고기 : 국내산<br />닭고기 : 국내산<br />오리고기 :
국내산<br />쇠고기 식육가공품 : 국내산<br />돼지고기 식육가공품 : 국내산<br />닭고기
식육가공품 : 국내산<br />오리고기 가공품 : 국내산<br />낙지 : 국내산<br />고등어
: 국내산<br />갈치 : 국내산<br />오징어 : 국내산<br />꽃게 : 국내산<br />참조기
: 국내산<br />콩 : 국내산","CAL_INFO":"644.9 Kcal","NTR_INFO":"탄수화물(g) :
99.7<br />단백질(g) : 34.7<br />지방(g) : 12.1<br />비타민A(R.E) : 217.0<br />티아민(mg)
: 0.3<br />리보플라빈(mg) : 0.5<br />비타민C(mg) : 17.6<br />칼슘(mg) : 141.4<br />철분(mg)
:
4.5","MLSV_FROM_YMD":"20210104","MLSV_TO_YMD":"20210104","LOAD_DTM":"20210111040008"},{"ATPT_OFCDC_SC_CODE":"T10","ATPT_OFCDC_SC_NM":"제주특별자치도교육청","SD_SCHUL_CODE":"9290083","SCHUL_NM":"제주영지학교","MMEAL_SC_CODE":"2","MMEAL_SC_NM":"중식","MLSV_YMD":"20210105","MLSV_FGR":67.00,"DDISH_NM":"오므라이스(영)1.5.6.10.12.13.<br />팽이버섯두부국(영)5.6.13.<br />숙주미나리무침(영)5.6.<br />국물떡볶이와
만두(영)1.5.6.10.13.<br />배추김치(영)9.13.<br />멜론","ORPLC_INFO":"쌀 :
국내산<br />김치류 : 국내산<br />고춧가루(김치류) : 국내산<br />쇠고기(종류) :
국내산(한우)<br />돼지고기 : 국내산<br />닭고기 : 국내산<br />오리고기 :
국내산<br />쇠고기 식육가공품 : 국내산<br />돼지고기 식육가공품 : 국내산<br />닭고기
식육가공품 : 국내산<br />오리고기 가공품 : 국내산<br />낙지 : 국내산<br />고등어
: 국내산<br />갈치 : 국내산<br />오징어 : 국내산<br />꽃게 : 국내산<br />참조기
: 국내산<br />콩 : 국내산","CAL_INFO":"741.7 Kcal","NTR_INFO":"탄수화물(g) :
111.9<br />단백질(g) : 33.3<br />지방(g) : 19.7<br />비타민A(R.E) : 280.0<br />티아민(mg)
: 0.4<br />리보플라빈(mg) : 0.6<br />비타민C(mg) : 21.5<br />칼슘(mg) : 140.7<br />철분(mg)
:
4.2","MLSV_FROM_YMD":"20210105","MLSV_TO_YMD":"20210105","LOAD_DTM":"20210112040008"},{"ATPT_OFCDC_SC_CODE":"T10","ATPT_OFCDC_SC_NM":"제주특별자치도교육청","SD_SCHUL_CODE":"9290083","SCHUL_NM":"제주영지학교","MMEAL_SC_CODE":"2","MMEAL_SC_NM":"중식","MLSV_YMD":"20210106","MLSV_FGR":67.00,"DDISH_NM":"기장밥(친환경/영)<br />또띠아옥수수치즈구이(영)1.2.5.6.10.12.13.<br />홍합살미역국(영)5.6.9.13.18.<br />돼지갈비감자찜(영)5.6.10.13.<br />유채나물된장무침(영)5.6.<br />배추김치(영)9.13.<br />사과(부사)","ORPLC_INFO":"쌀
: 국내산<br />김치류 : 국내산<br />고춧가루(김치류) : 국내산<br />쇠고기(종류) :
국내산(한우)<br />돼지고기 : 국내산<br />닭고기 : 국내산<br />오리고기 :
국내산<br />쇠고기 식육가공품 : 국내산<br />돼지고기 식육가공품 : 국내산<br />닭고기
식육가공품 : 국내산<br />오리고기 가공품 : 국내산<br />낙지 : 국내산<br />고등어
: 국내산<br />갈치 : 국내산<br />오징어 : 국내산<br />꽃게 : 국내산<br />참조기
: 국내산<br />콩 : 국내산","CAL_INFO":"709.7 Kcal","NTR_INFO":"탄수화물(g) :
104.0<br />단백질(g) : 38.5<br />지방(g) : 17.5<br />비타민A(R.E) : 251.6<br />티아민(mg)
: 0.9<br />리보플라빈(mg) : 0.7<br />비타민C(mg) : 32.0<br />칼슘(mg) : 287.7<br />철분(mg)
:
4.4","MLSV_FROM_YMD":"20210106","MLSV_TO_YMD":"20210106","LOAD_DTM":"20210113040008"},{"ATPT_OFCDC_SC_CODE":"T10","ATPT_OFCDC_SC_NM":"제주특별자치도교육청","SD_SCHUL_CODE":"9290083","SCHUL_NM":"제주영지학교","MMEAL_SC_CODE":"2","MMEAL_SC_NM":"중식","MLSV_YMD":"20210107","MLSV_FGR":67.00,"DDISH_NM":"검정쌀밥(친환경/영)<br />쇠고기무국(영)5.6.13.16.<br />도토리묵양상추무침(영)5.6.13.<br />건파래볶음(영)13.<br />연어살구이(홀그레인크림소스/영1.5.6.13.<br />배추김치(영)9.13.<br />귤","ORPLC_INFO":"쌀
: 국내산<br />김치류 : 국내산<br />고춧가루(김치류) : 국내산<br />쇠고기(종류) :
국내산(한우)<br />돼지고기 : 국내산<br />닭고기 : 국내산<br />오리고기 :
국내산<br />쇠고기 식육가공품 : 국내산<br />돼지고기 식육가공품 : 국내산<br />닭고기
식육가공품 : 국내산<br />오리고기 가공품 : 국내산<br />낙지 : 국내산<br />고등어
: 국내산<br />갈치 : 국내산<br />오징어 : 국내산<br />꽃게 : 국내산<br />참조기
: 국내산<br />콩 : 국내산","CAL_INFO":"672.3 Kcal","NTR_INFO":"탄수화물(g) :
98.2<br />단백질(g) : 33.8<br />지방(g) : 16.9<br />비타민A(R.E) : 35.2<br />티아민(mg)
: 0.5<br />리보플라빈(mg) : 0.4<br />비타민C(mg) : 39.1<br />칼슘(mg) : 115.6<br />철분(mg)
:
4.1","MLSV_FROM_YMD":"20210107","MLSV_TO_YMD":"20210107","LOAD_DTM":"20210114040009"},{"ATPT_OFCDC_SC_CODE":"T10","ATPT_OFCDC_SC_NM":"제주특별자치도교육청","SD_SCHUL_CODE":"9290083","SCHUL_NM":"제주영지학교","MMEAL_SC_CODE":"2","MMEAL_SC_NM":"중식","MLSV_YMD":"20210108","MLSV_FGR":67.00,"DDISH_NM":"찹쌀밥(보조)<br />우동/어묵꼬치(영)1.5.6.13.<br />사과치커리무침(영)5.6.13.<br />순살닭강정(영/간장선택)1.5.6.12.13.15.<br />김구이(선택)13.<br />호상요구르트(100g)2.","ORPLC_INFO":"쌀
: 국내산<br />김치류 : 국내산<br />고춧가루(김치류) : 국내산<br />쇠고기(종류) :
국내산(한우)<br />돼지고기 : 국내산<br />닭고기 : 국내산<br />오리고기 :
국내산<br />쇠고기 식육가공품 : 국내산<br />돼지고기 식육가공품 : 국내산<br />닭고기
식육가공품 : 국내산<br />오리고기 가공품 : 국내산<br />낙지 : 국내산<br />고등어
: 국내산<br />갈치 : 국내산<br />오징어 : 국내산<br />꽃게 : 국내산<br />참조기
: 국내산<br />콩 : 국내산","CAL_INFO":"771.6 Kcal","NTR_INFO":"탄수화물(g) :
113.8<br />단백질(g) : 38.8<br />지방(g) : 17.4<br />비타민A(R.E) : 177.4<br />티아민(mg)
: 0.4<br />리보플라빈(mg) : 0.4<br />비타민C(mg) : 9.8<br />칼슘(mg) : 264.0<br />철분(mg)
:
2.8","MLSV_FROM_YMD":"20210108","MLSV_TO_YMD":"20210108","LOAD_DTM":"20210115040008"}]}]}
