{
  "android": {
    "keystore": {
      "keystorePath": "C:/Users/YOUR_NAME/.android/upload-keystore.jks",
      "keystorePassword": "KEYSTORE_PASSWORD",
      "keyAlias": "KEY_ALIAS",
      "keyPassword": "KEY_PASSWORD"
    }
  }
}
