# ==========================================
# [의존성 및 빌드 결과물]
# ==========================================
**/node_modules/
**/dist/
**/build/
**/out/
**/web-build/

# ==========================================
# [Frontend - Expo & Metro]
# ==========================================
**/.expo/
**/expo-env.d.ts
**/.metro-health-check*

# ==========================================
# [Frontend - Native / Mobile]
# ==========================================
**/ios/
**/android/
**/.kotlin/
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.orig.*

# ==========================================
# [Backend]
# ==========================================
**/*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# ==========================================
# [환경변수 & 보안]
# ==========================================
.env
.env*.local
*.pem

# ==========================================
# [TypeScript]
# ==========================================
*.tsbuildinfo

# ==========================================
# [OS]
# ==========================================
.DS_Store

# ==========================================
# [프로젝트 전용]
# ==========================================
/back/